Windows/Windows Apps/APICallsConsole/Service References/SupplierWebService/SupplierBroadCast.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema>
      <xsd:import schemaLocation="SupplierBroadCast.xsd1.xsd" namespace="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierServiceContract_AcknowledgeLastMessageReceived_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:AcknowledgeLastMessageReceived" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_AcknowledgeLastMessageReceived_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:AcknowledgeLastMessageReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessage_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessage_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessages_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessages_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForOrder_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForOrder" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForOrder_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForOrderAtStatus_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForOrderAtStatus" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForOrderAtStatus_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForOrderAtStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForTLS_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForTLS" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForTLS_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForTLSResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForTLSAtStatus_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForTLSAtStatus" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesForTLSAtStatus_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesForTLSAtStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesSinceMessageID_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesSinceMessageID" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesSinceMessageID_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesSinceMessageIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesSinceTimestamp_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesSinceTimestamp" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_GetMessagesSinceTimestamp_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:GetMessagesSinceTimestampResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_SubmitFeedback_InputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:SubmitFeedback" />
  </wsdl:message>
  <wsdl:message name="ISupplierServiceContract_SubmitFeedback_OutputMessage">
    <wsdl:part xmlns:xsns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" name="parameters" element="xsns:SubmitFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierServiceContract">
    <wsdl:operation name="AcknowledgeLastMessageReceived">
      <wsdl:input name="AcknowledgeLastMessageReceivedRequest" message="ns0:ISupplierServiceContract_AcknowledgeLastMessageReceived_InputMessage" />
      <wsdl:output name="AcknowledgeLastMessageReceivedResponse" message="ns0:ISupplierServiceContract_AcknowledgeLastMessageReceived_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input name="GetMessageRequest" message="ns0:ISupplierServiceContract_GetMessage_InputMessage" />
      <wsdl:output name="GetMessageResponse" message="ns0:ISupplierServiceContract_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input name="GetMessagesRequest" message="ns0:ISupplierServiceContract_GetMessages_InputMessage" />
      <wsdl:output name="GetMessagesResponse" message="ns0:ISupplierServiceContract_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForOrder">
      <wsdl:input name="GetMessagesForOrderRequest" message="ns0:ISupplierServiceContract_GetMessagesForOrder_InputMessage" />
      <wsdl:output name="GetMessagesForOrderResponse" message="ns0:ISupplierServiceContract_GetMessagesForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForOrderAtStatus">
      <wsdl:input name="GetMessagesForOrderAtStatusRequest" message="ns0:ISupplierServiceContract_GetMessagesForOrderAtStatus_InputMessage" />
      <wsdl:output name="GetMessagesForOrderAtStatusResponse" message="ns0:ISupplierServiceContract_GetMessagesForOrderAtStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForTLS">
      <wsdl:input name="GetMessagesForTLSRequest" message="ns0:ISupplierServiceContract_GetMessagesForTLS_InputMessage" />
      <wsdl:output name="GetMessagesForTLSResponse" message="ns0:ISupplierServiceContract_GetMessagesForTLS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForTLSAtStatus">
      <wsdl:input name="GetMessagesForTLSAtStatusRequest" message="ns0:ISupplierServiceContract_GetMessagesForTLSAtStatus_InputMessage" />
      <wsdl:output name="GetMessagesForTLSAtStatusResponse" message="ns0:ISupplierServiceContract_GetMessagesForTLSAtStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesSinceMessageID">
      <wsdl:input name="GetMessagesSinceMessageIDRequest" message="ns0:ISupplierServiceContract_GetMessagesSinceMessageID_InputMessage" />
      <wsdl:output name="GetMessagesSinceMessageIDResponse" message="ns0:ISupplierServiceContract_GetMessagesSinceMessageID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessagesSinceTimestamp">
      <wsdl:input name="GetMessagesSinceTimestampRequest" message="ns0:ISupplierServiceContract_GetMessagesSinceTimestamp_InputMessage" />
      <wsdl:output name="GetMessagesSinceTimestampResponse" message="ns0:ISupplierServiceContract_GetMessagesSinceTimestamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedback">
      <wsdl:input name="SubmitFeedbackRequest" message="ns0:ISupplierServiceContract_SubmitFeedback_InputMessage" />
      <wsdl:output name="SubmitFeedbackResponse" message="ns0:ISupplierServiceContract_SubmitFeedback_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISupplierServiceContract" type="ns0:ISupplierServiceContract">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcknowledgeLastMessageReceived">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/AcknowledgeLastMessageReceived" style="document" />
      <wsdl:input name="AcknowledgeLastMessageReceivedRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AcknowledgeLastMessageReceivedResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessage" style="document" />
      <wsdl:input name="GetMessageRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessageResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessages" style="document" />
      <wsdl:input name="GetMessagesRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForOrder">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesForOrder" style="document" />
      <wsdl:input name="GetMessagesForOrderRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesForOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForOrderAtStatus">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesForOrderAtStatus" style="document" />
      <wsdl:input name="GetMessagesForOrderAtStatusRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesForOrderAtStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForTLS">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesForTLS" style="document" />
      <wsdl:input name="GetMessagesForTLSRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesForTLSResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesForTLSAtStatus">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesForTLSAtStatus" style="document" />
      <wsdl:input name="GetMessagesForTLSAtStatusRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesForTLSAtStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesSinceMessageID">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesSinceMessageID" style="document" />
      <wsdl:input name="GetMessagesSinceMessageIDRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesSinceMessageIDResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesSinceTimestamp">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/GetMessagesSinceTimestamp" style="document" />
      <wsdl:input name="GetMessagesSinceTimestampRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesSinceTimestampResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedback">
      <soap12:operation soapAction="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18/ISupplierServiceContract/SubmitFeedback" style="document" />
      <wsdl:input name="SubmitFeedbackRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitFeedbackResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="WSHttpBinding_ISupplierServiceContract.0" binding="ns0:WSHttpBinding_ISupplierServiceContract">
      <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
      <soap12:address location="https://10.224.132.135:443/SupplierBroadCast" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>