Windows/Windows Apps/JLR API Console/Service References/SupplierWebService/SupplierBroadCast.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" elementFormDefault="qualified" targetNamespace="http://jaguarlandrover.com/supplierbuildachievementmessages/2011/01/18" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GetMessages">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="messageID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessageResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessageResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesSinceMessageID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="messageID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesSinceMessageIDResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesSinceMessageIDResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesSinceTimestamp">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="dateTime" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesSinceTimestampResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesSinceTimestampResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForOrder">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="orderNumber" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForOrderResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesForOrderResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForOrderAtStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="orderNumber" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForOrderAtStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesForOrderAtStatusResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForTLS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="TLS" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="model" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForTLSResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesForTLSResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForTLSAtStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="TLS" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="model" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMessagesForTLSAtStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GetMessagesForTLSAtStatusResult" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AcknowledgeLastMessageReceived">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="messageID" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AcknowledgeLastMessageReceivedResponse">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SubmitFeedback">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="apiKey" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SubmitFeedbackResponse">
    <xsd:complexType>
      <xsd:sequence />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>